<!DOCTYPE html>
<html lang=en>

    <head>

        <meta charset=utf-8>
        <title>Wow miljö</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- General custom css -->
        <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">

        <!-- Custom CSS for start page -->
        <link href="{{ url_for('static', filename='css/homepage.css') }}" rel="stylesheet">

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    </head>

    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              {% if session.logged_in %}
              <a class="navbar-brand" href="#">{{ session.username }}</a>
              {% else %}
              <a class="navbar-brand" href="#">Hem</a>
              {% endif %}
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="#">Kontrollpanel</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Wow, lista <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>

            <ul class="nav navbar-nav navbar-right">

                {% if session.logged_in %}
                <a href="/logout/" class="btn btn-info navbar-btn" role="button" style="margin-left: 15px;">Logout</a>
                {% else %}
                <a href="/register/" class="btn btn-info navbar-btn" role="button" style="margin-left: 15px;">Registrera</a>               
                <a href="/login/" class="btn btn-info navbar-btn" role="button">Logga in</a>
                {% endif %}
            </ul>

            </div><!-- /.navbar-collapse -->
          </div><!-- /.container -->
        </nav>
        
    </header>

    <body>

        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>


        {% block body %}{% endblock %}

        </div>
        
    </body>
    
</html>
